* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  /* background-size: 100%; */
  background-size: cover;
}

#bigBox {
  margin: 0 auto;
  margin-top: 200px;
  padding: 20px 50px;
  background-color: #00000090;
  width: 400px;
  height: 300px;
  border-radius: 12px;
  text-align: center;
}

#bigBox h1 {
  color: #fff;
  text-transform: uppercase;
}

#bigBox .inputBox {
  margin-top: 50px;
}

#bigBox .inputBox .inputText {
  margin-top: 20px;
}

#bigBox .inputBox .inputText span {
  color: #fff;
}

#bigBox .inputBox .inputText input {
  border: 0;
  outline: none;
  padding: 10px;
  border-bottom: 1px solid #fff;
  background-color: #00000000;
  color: #fff;
}

#bigBox .inputBox .inputButton {
  border: 0;
  width: 150px;
  height: 25px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 30px;
  border-radius: 20px;
  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
}
