.loading2 .wrapper {
  height: 100%;
  margin: 0 auto;
  font-size: 0;
}

.loading2 .wrapper .item {
  background-color: crimson;
  width: 15px;
  height: 0;
  display: inline-block;
  font-size: 0;
  margin: 0 5px;
  transform: translateY(145px);
}

.loading2 .wrapper .item::before {
  display: inline-block;
  content: '';
  height: 50px;
  width: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: crimson;
}

.loading2 .wrapper .item::after {
  display: inline-block;
  content: '';
  height: 50px;
  width: 15px;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: crimson;
}

.loading2 .wrapper .item:nth-child(1)::before {
  animation: loading2 2s infinite 0s;
}
.loading2 .wrapper .item:nth-child(2)::before {
  animation: loading2 2s infinite 0.2s;
}
.loading2 .wrapper .item:nth-child(3)::before {
  animation: loading2 2s infinite 0.4s;
}
.loading2 .wrapper .item:nth-child(4)::before {
  animation: loading2 2s infinite 0.6s;
}
.loading2 .wrapper .item:nth-child(5)::before {
  animation: loading2 2s infinite 0.8s;
}

.loading2 .wrapper .item:nth-child(1)::after {
  animation: loading2 2s infinite 0s;
}
.loading2 .wrapper .item:nth-child(2)::after {
  animation: loading2 2s infinite 0.2s;
}
.loading2 .wrapper .item:nth-child(3)::after {
  animation: loading2 2s infinite 0.4s;
}
.loading2 .wrapper .item:nth-child(4)::after {
  animation: loading2 2s infinite 0.6s;
}
.loading2 .wrapper .item:nth-child(5)::after {
  animation: loading2 2s infinite 0.8s;
}

@keyframes loading2 {
  0% {
    height: 50px;
  }
  50% {
    height: 5px;
  }
  100% {
    height: 50px;
  }
}
